/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright 2020 By: Dewa Programming

Project		:	Blog
Dibuat	    :	05/05/2020
Instagram   :   @dewaprogramming -- @741_dewa -- @dewasmkn1jakarta
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Home
3. Service
4. Catalog
5. Footer
-------------------------------------------------------------------*/



@media only screen and (max-width: 576px) { 

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    
    nav {
        display: flex;
        background: #FFFFFF !important;
    }

    /*-------------------------------------------------------------------
    [2. Home]
    *------------------------------------------------------------------*/
    .home {
        background-position: right -600px top;
    }

    .home .col-sm-12 {
        padding: 56% 30px !important;
    }  
    
    .jumbotron{
        width: 100%;
        height: 500px;
    }

    .jumbotron b {
        font-size: 48px;
    }
    
    .display-4 {
        font-size: 48px;
    }

    .jumbotron p {
        font-size: 20px;
        margin: 20px 0px !important;
    }

    .jumbotron button {  
        font-size: 20px;
        width: 180px;
        height: 70px;
    }

    /*-------------------------------------------------------------------
    [3. Service]
    *------------------------------------------------------------------*/
    .service {
        background: #F5F6F8;
        padding: 80px 30px !important;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .service .d-sm-flex {
        display: flex !important;
        flex-wrap: wrap;
    }

    .service .col-sm-7, .service .col-sm-5 {
        width: 100% !important;
    }

    /* left */
    .service #picture-square { 
        width: 0px !important;
        position: unset !important;;
    }

    .service #pict-cover { 
        margin: auto !important;
        width:420px;
        height:550px;
        position: unset;
    }

    .service #pict-border { 
        overflow:hidden;
        background-color: #C4C4C4;
        width:100%;
        height:550px;
        position:absolute;
        left:0px;
        top:0px;
        border-radius: 25px;
    }

    .service #text-1 { 
        width:316px;
        height:100px;
        position:absolute;
        left:118px;
        top:29px;
    }

    /*-------------------------------------------------------------------
    [4. Catalog]
    *------------------------------------------------------------------*/
    .catalog {
        padding: 100px 30px !important;
    }

    .col-sm-12 {
        flex-wrap: wrap;
    }

    .catalog a {
        width: 40% !important;
    }

    .catalog .card {
        width: 100% !important;
    }

    .catalog #tittle {
        font-size: 15px !important;
        text-align: center !important;
    }

    .catalog #price {
        font-size: 13px !important;
        text-align: center !important;
    }

    /*-------------------------------------------------------------------
    [5. Footer]
    *------------------------------------------------------------------*/
    #footer #text {
        font-size: 12px !important;
    }
}